In [17]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv('../datasets/preprocessed/preprocessed_full.csv')

In [3]:
df.shape

(20384, 5)

### Positive and negative comment count
0 - negative, 
1 - positive,
-1 - neutral

More negative comments so far

In [4]:
df.rating.value_counts()

-1    10712
 0     5307
 1     4365
Name: rating, dtype: int64

In [5]:
positive = df.loc[df.rating == 1]
negative = df.loc[df.rating == 0]

In [6]:
positive.head(10)

,comment_id,video_id,date,body,rating
117,UgzHduB8hJNtSSVQJ-t4AaABAg,ItYOdWRo0JY,2019-03-01T09:31:58Z,good,1
144,UgxB4Ya7EeXjnL2gXrF4AaABAg,ItYOdWRo0JY,2019-02-11T13:52:23Z,nice,1
229,UgwTHUgTPBxRu8bz6-l4AaABAg,ItYOdWRo0JY,2019-01-30T12:56:09Z,you kind person,1
273,UgjVVUkF3LLWNXgCoAEC,PpcNQNJmU9Y,2016-07-14T00:24:28Z,looks good,1
277,UgzhYX7nMHIoIuivJKB4AaABAg,ItYOdWRo0JY,2019-01-26T09:37:00Z,cool,1
284,UgxPU2G_yciQFog8CNx4AaABAg,YSVLsQ6VBdM,2018-01-12T04:21:53Z,laugh yeah great performances with they tried ...,1
347,Ugy7yj_9Ra6e6ba8DDx4AaABAg,FY8T06A-j_c,2019-02-09T20:21:38Z,dude funny,1
390,Ugxm1szLhsMtuYNTUGZ4AaABAg,FY8T06A-j_c,2017-12-14T16:09:43Z,commentator funny laugh,1
400,UgzOHFJe0u0LQfcYK_J4AaABAg,FY8T06A-j_c,2017-12-14T15:23:15Z,hard admit cringementator gettin better each d...,1
405,UgySn7yTSWAwIBabrEx4AaABAg,FY8T06A-j_c,2017-12-14T14:11:20Z,man legend,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20384 entries, 0 to 20383
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   comment_id  20384 non-null  object
 1   video_id    20384 non-null  object
 2   date        20384 non-null  object
 3   body        20232 non-null  object
 4   rating      20384 non-null  int64
dtypes: int64(1), object(4)
memory usage: 796.4+ KB

In [18]:
positive.body = positive.body.astype(str)
negative.body = negative.body.astype(str)

### Average comment length

In [19]:
positive.body.apply(len).mean()

37.35166093928981

In [20]:
negative.body.apply(len).mean()

40.18409647635199

### Most frequently occuring words
The most occuring words are stop words, which carry no sentiment and should be removed.

In [21]:
positive.body.str.split(expand=True).stack().value_counts().head(30)

love       760
you        632
good       606
best       521
not        452
like       422
song       302
game       271
movie      270
its        262
still      245
laugh      242
video      238
one        217
ever       195
rewind     194
me         187
great      183
all        175
trailer    168
better     159
amazing    154
im         151
be         151
Ô∏è          151
funny      139
he         136
than       135
why        134
nice       133
dtype: int64

In [22]:
negative.body.str.split(expand=True).stack().value_counts().head(30)

you        1656
not         776
fuck        478
like        370
shit        339
laugh       289
he          289
what        277
bad         266
fake        258
fucking     251
no          242
its         242
video       235
im          233
have        221
be          205
they        200
why         193
still       192
me          186
how         186
with        185
all         182
people      181
up          172
news        161
movie       160
hate        160
stupid      157
dtype: int64